* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background: rgb(253, 253, 255);
    color: rgba(60, 14, 209, 0.584);
}
/* HEADER */
header {
    width: 100%;
    background: rgb(179, 132, 179);
    color: white;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header h1 {
    font-size: 24px;
    text-transform: capitalize;
}
/* MAIN LAYOUT - FLEXBOX */
main {
    width: 90%;
    max-width: 900px;
    margin: 30px auto;
    background: rgb(243, 239, 239);
    padding: 25px;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
/* FORM FIELDS */
label {
    font-weight: bold;
    margin-top: 10px;
}

input {
    width: 100%;
    padding: 12px;
    border: 1px solid rgb(181, 173, 173);
    border-radius: 6px;
    margin-bottom: 5px;
    transition: 0.2s;
}
/* BUTTON */
button {
    background: rgb(103, 41, 61);
    color: blanchedalmond;
    padding: 12px 20px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    transition: 0.2s;
    font-weight: bold;
}

button:hover {
    background: greenyellow;
    transform: translateY(-2px);
}

/* TABLE */
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    overflow: hidden;
}

th, td {
    padding: 12px;
    text-align: center;
    border-bottom: 1px solid #ccc;
}

th {
    background: rgb(179, 132, 179);
    color: bisque;
    text-transform: capitalize;
    font-weight: 600;
}

tr:hover {
    background: rgb(237, 225, 227);
}

/* Update and Delete buttons */
td button {
    padding: 6px 12px;
    font-size: 14px;
    border-radius: 5px;
}
/* FOOTER */
footer {
    text-align: center;
    padding: 15px;
    background: rgb(179, 132, 179);
    color: rgb(208, 201, 192);
    margin-top: 30px;
}
/* RESPONSIVE DESIGN */
@media (max-width: 600px) {
    header h1 {
        font-size: 18px;
    }

    main {
        padding: 15px;
    }

    th, td {
        padding: 8px;
        font-size: 14px;
    }

    input, button {
        font-size: 14px;
        padding: 10px;
    }
}